@use '../../styles/partials/mixins' as *;

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    @include tablet {
        padding:0;        
    }   
    &__logo {
        height: 1.563rem;        
    }
}